rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isValidImage(image) {
      return 
      image.size < 2 * 1024 * 1024 &&
      image.contentType.matches('^image/jpeg$|^image/png$');
    }

    match /documents/{filename} {
      allow read: if isAuthenticated();
      allow create, update: if isAuthenticated() && isValidImage(request.resource);
      allow delete: if isAuthenticated();
    }
  }
}
