<app-secondary-layout
  [toolbar-title]="'Oficio ' + cardCode"
  toolbar-back-link="/home/oficios"
>
  <ng-container *ngIf="document$ | async as document">
    <div *ngIf="cardCode && (isAdmin$ | async)" class="button-group">
      <a
        mat-stroked-button
        color="primary"
        type="button"
        [routerLink]="['/admin/oficios', cardCode, 'editar']"
      >
        <mat-icon>edit</mat-icon>
        <span>Editar oficio</span>
      </a>

      <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="deleteDocument(document)"
      >
        <mat-icon>delete</mat-icon>
        <span>Eliminar oficio</span>
      </button>

      <button
        *ngIf="!document.isCardCanceled; else isCardCanceled"
        mat-flat-button
        color="primary"
        type="button"
        (click)="cancelCard(document.cardCode)"
      >
        <mat-icon>cancel</mat-icon>
        <span>Cancelar tarjeta</span>
      </button>
      <ng-template #isCardCanceled>
        <button mat-flat-button color="primary" type="button" disabled>
          <span>Tarjeta cancelada</span>
        </button>
      </ng-template>
    </div>

    <app-document-detail-content
      [data]="document$"
    ></app-document-detail-content>
  </ng-container>
</app-secondary-layout>
