<ng-container *ngIf="document$ | async as document">
  <span class="mat-small">Datos de tarjeta</span>

  <div class="row w-3-col">
    <div class="column col-group">
      <span class="mat-subtitle-2">Fecha de elaboración</span>

      <span>{{ document.createDate | date: 'longDate' }}</span>
    </div>

    <div class="column col-group">
      <span class="mat-subtitle-2">Folio</span>

      <span>{{ document.cardCode }}</span>
    </div>

    <div class="column col-group">
      <span class="mat-subtitle-2">Clave de movimiento</span>

      <span>{{ document.operationCode }}</span>
    </div>
  </div>

  <div class="row w-3-col">
    <div class="column col-group">
      <span class="mat-subtitle-2">Módulo</span>

      <span>{{ document.branchOffice }}</span>
    </div>

    <div class="column col-group">
      <span class="mat-subtitle-2">Revisó documentos</span>

      <span>{{ document.reviewDocument }}</span>
    </div>

    <div class="column col-group">
      <span class="mat-subtitle-2">Elaboró tarjeta</span>

      <span>{{ document.makeCard }}</span>
    </div>
  </div>

  <span class="mat-small">Datos del solicitante</span>

  <div class="row">
    <div class="column">
      <div class="row w-3-col">
        <div class="column col-group">
          <span class="mat-subtitle-2">Apellido paterno</span>

          <span>{{ document.fathersLastname }}</span>
        </div>

        <div class="column col-group">
          <span class="mat-subtitle-2">Apellido materno</span>

          <span>{{ document.mothersLastname }}</span>
        </div>
      </div>

      <div class="row w-3-col">
        <div class="column col-group">
          <span class="mat-subtitle-2">Nombre</span>

          <span>{{ document.name }}</span>
        </div>

        <div class="column col-group">
          <span class="mat-subtitle-2">Sexo</span>

          <span>{{ document.sex }}</span>
        </div>
      </div>

      <div class="row w-3-col">
        <div class="column col-group">
          <span class="mat-subtitle-2">Fecha de nacimiento</span>

          <span>{{ document.birthdate | date: 'longDate' }}</span>
        </div>

        <div class="column col-group">
          <span class="mat-subtitle-2">Entidad de nacimiento</span>

          <span>{{ document.birthplace }}</span>
        </div>
      </div>

      <div class="row w-3-col">
        <div class="column col-group">
          <span class="mat-subtitle-2">CURP</span>

          <span>{{ document.curp }}</span>
        </div>

        <div class="column col-group">
          <span class="mat-subtitle-2">Estado civil</span>

          <span>{{ document.maritalStatus }}</span>
        </div>
      </div>
    </div>

    <div class="column w-3-col">
      <ng-container *ngIf="!document.imageUrl; else hasImageUrl">
        <img
          src="assets/no-user-image.svg"
          width="109"
          height="131"
          alt="Imagen predeterminada de usuario"
        />
      </ng-container>
      <ng-template #hasImageUrl>
        <img
          [src]="document.imageUrl"
          width="109"
          height="131"
          alt="Foto de adulto mayor"
        />
      </ng-template>
    </div>
  </div>
</ng-container>
