.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 704px;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

app-document-list-table {
    height: 290px;
}