@use "src/styles/responsive-layout" with (
  $content-width: 100%
);

:host {
  @extend %host;
}

.center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.row,
.column {
  width: 100%;
}

.chart-container {
  align-self: center;
  margin-top: -20px;
  width: calc(704px / 3.91);
  height: calc(704px / 2.66);
}
