@use "@angular/material" as mat;
@use "dia-palette" as dia;
@use "components-override";

@include mat.core();

$dia-primary: mat.define-palette(dia.$dia-primary-palette);
$dia-accent: mat.define-palette(
  dia.$dia-terciary-palette,
  A200,
  A100,
  A400
);
$dia-error: mat.define-palette(dia.$dia-error-palette);

$dia-theme: mat.define-light-theme(
  (
    color: (
      primary: $dia-primary,
      accent: $dia-accent,
      warn: $dia-error,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.core-theme($dia-theme);
@include mat.sidenav-theme($dia-theme);
@include mat.list-theme($dia-theme);
@include mat.divider-theme($dia-theme);
@include mat.toolbar-theme($dia-theme);
@include mat.icon-button-theme($dia-theme);
@include mat.button-theme($dia-theme);
@include mat.icon-theme($dia-theme);
@include mat.menu-theme($dia-theme);
@include mat.form-field-theme($dia-theme);
@include mat.select-theme($dia-theme);
@include mat.table-theme($dia-theme);
@include mat.input-theme($dia-theme);
@include mat.datepicker-theme($dia-theme);
@include mat.typography-hierarchy($dia-theme);
