.side-nav {
  width: 360px;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
  margin-right: 16px;
  color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.divider {
  margin: 0px 16px;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 24px 32px 48px;
}
