@use "../shared";

.side-nav {
  width: 360px;
}

.divider {
  margin: 0px 16px;
}

.active-link {
  background: rgba(0, 0, 0, 0.08);

  span {
    color: #894c5d;
  }
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
  margin-right: 16px;
  color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.73));
  font-size: 20px;
}
