<mat-sidenav-container fullscreen>
  <mat-sidenav class="side-nav" role="navigation" #sidenav>
    <mat-nav-list (click)="sidenav.close()" disableRipple>
      <a
        *ngIf="isAdmin$ | async"
        mat-list-item
        routerLink="/admin/panel-reportes"
        routerLinkActive="active-link"
        tabindex="-1"
      >
        <span>Panel</span>
      </a>

      <a
        *ngIf="isAdmin$ | async"
        mat-list-item
        routerLink="/admin/reportes"
        routerLinkActive="active-link"
        tabindex="-1"
      >
        <span>Reportes</span>
      </a>

      <a
        mat-list-item
        routerLink="/home/oficios"
        routerLinkActive="active-link"
        tabindex="-1"
      >
        <span>Oficios</span>
      </a>

      <a
        *ngIf="isAdmin$ | async"
        mat-list-item
        routerLink="/admin/asistentes"
        routerLinkActive="active-link"
        tabindex="-1"
      >
        <span>Asistentes</span>
      </a>

      <mat-divider class="divider"></mat-divider>

      <ng-container *ngIf="isAdmin$ | async as isAdmin">
        <a
          *ngIf="!isAdmin"
          mat-list-item
          routerLink="/home/mi-cuenta"
          routerLinkActive="active-link"
          tabindex="-1"
        >
          <span>Mi cuenta</span>
        </a>
      </ng-container>

      <a mat-list-item routerLink="/login" tabindex="-1">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Cerrar sesión</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <mat-toolbar>
      <button
        mat-icon-button
        aria-label="Abre menu lateral"
        (click)="sidenav.open()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span *ngIf="toolbarTitle">{{ toolbarTitle }}</span>
    </mat-toolbar>

    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
