<mat-sidenav-container fullscreen>
  <mat-sidenav class="side-nav" role="navigation" #sidenav>
    <mat-nav-list (click)="sidenav.close()" disableRipple>
      <a mat-list-item routerLink="/admin/panel-reportes" routerLinkActive="active">
        <span>Reportes</span>
      </a>

      <a mat-list-item routerLink="/home/oficios" routerLinkActive="active">
        <span>Oficios</span>
      </a>

      <a mat-list-item routerLink="/admin/asistentes" routerLinkActive="active">
        <span>Asistentes</span>
      </a>

      <mat-divider class="divider"></mat-divider>

      <a mat-list-item routerLink="/login">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Cerrar sesión</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <mat-toolbar>
      <button
        mat-icon-button
        aria-label="Abre menu lateral"
        (click)="sidenav.open()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span *ngIf="toolbarTitle">{{ toolbarTitle }}</span>

      <span class="spacer"></span>

      <ng-container *ngIf="toolbarIconButton">
        <button mat-icon-button>
          <mat-icon>{{ toolbarIconButton }}</mat-icon>
        </button>
      </ng-container>

      <ng-container *ngIf="toolbarButton">
        <button mat-flat-button>
          <mat-icon *ngIf="toolbarButton.icon">{{
            toolbarButton.icon
          }}</mat-icon>
          <span>{{ toolbarButton.text }}</span>
        </button>
      </ng-container>
    </mat-toolbar>

    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
