<p>
  <a routerLink="/home/oficios">Go to Oficios</a>
</p>

<p>
  <button type="button" (click)="uploadDocuments()">Upload documents</button>
</p>

<p>
  <button type="button" (click)="uploadDocumentUtils()">
    Upload document utils
  </button>
</p>

<p>
  <button type="button" (click)="uploadReports()">Upload reports</button>
</p>

<p>
  <button type="button" (click)="uploadAssistants()">Upload assistants</button>
</p>

<p>
  <button type="button" (click)="openAlert()">Open alert</button>
</p>
