<app-primary-layout toolbar-title="Oficios de solicitud de tarjeta">
  <ng-container *ngIf="dateStore$ | async as dateStore">
    <div class="column">
      <div class="row">
        <a mat-stroked-button color="primary" routerLink="crear-oficio">
          <mat-icon>add</mat-icon>
          <span>Nuevo oficio</span>
        </a>

        <div *ngIf="dateStore.years?.length" class="select-group">
          <div class="select-content month">
            <mat-form-field appearance="outline">
              <mat-select
                [value]="
                  selectedMonth
                    ? selectedMonth
                    : dateStore.months[
                        selectedYear ??
                          dateStore.years[dateStore.years?.length - 1]
                      ]?.numbers[
                        dateStore.months[
                          selectedYear ??
                            dateStore.years[dateStore.years?.length - 1]
                        ]?.numbers?.length - 1
                      ]
                "
                [disabled]="
                  dateStore.months[
                    selectedYear ?? dateStore.years[dateStore.years?.length - 1]
                  ]?.numbers?.length == 1
                "
                ariaLabel="Filtrar por mes"
                (valueChange)="changeSelectedValue('selectedMonth', $event)"
              >
                <mat-option
                  *ngFor="
                    let month of dateStore.months[
                      selectedYear ??
                        dateStore.years[dateStore.years?.length - 1]
                    ]?.numbers;
                    index as i
                  "
                  [value]="month"
                >
                  {{
                    dateStore.months[
                      selectedYear ??
                        dateStore.years[dateStore.years?.length - 1]
                    ]?.words[i] | titlecase
                  }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="select-content year">
            <mat-form-field appearance="outline">
              <mat-select
                [value]="
                  selectedYear
                    ? selectedYear
                    : dateStore.years[dateStore.years?.length - 1]
                "
                [disabled]="dateStore.years?.length == 1"
                ariaLabel="Filtrar por año"
                (valueChange)="changeSelectedValue('selectedYear', $event)"
              >
                <mat-option *ngFor="let year of dateStore.years" [value]="year">
                  {{ year }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <ng-container *ngIf="dateStore.years?.length">
        <ng-container
          *ngIf="
            documents$!
              | filterDocumentsByYear
                : (selectedYear
                    ? selectedYear
                    : dateStore.years[dateStore.years?.length - 1])
              | filterDocumentsByMonth
                : (selectedMonth
                    ? selectedMonth
                    : dateStore.months[
                        selectedYear ??
                          dateStore.years[dateStore.years?.length - 1]
                      ]?.numbers[
                        dateStore.months[
                          selectedYear ??
                            dateStore.years[dateStore.years?.length - 1]
                        ]?.numbers?.length - 1
                      ])
              | sortDocumentsByDate : 'asc'
              | async as documents
          "
        >
          <app-document-list-table
            [ngClass]="{ 'fixed-height': documents.length > 11 }"
            [data]="
              documents$!
                | filterDocumentsByYear
                  : (selectedYear
                      ? selectedYear
                      : dateStore.years[dateStore.years?.length - 1])
                | filterDocumentsByMonth
                  : (selectedMonth
                      ? selectedMonth
                      : dateStore.months[
                          selectedYear ??
                            dateStore.years[dateStore.years?.length - 1]
                        ]?.numbers[
                          dateStore.months[
                            selectedYear ??
                              dateStore.years[dateStore.years?.length - 1]
                          ]?.numbers?.length - 1
                        ])
                | sortDocumentsByDate : 'asc'
            "
          ></app-document-list-table>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</app-primary-layout>
