.column {
  display: flex;
  flex-direction: column;
  width: 704px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.select-content.year {
  min-width: 0;
  width: 124px;
}

mat-form-field {
  width: 100%;
}
