<app-primary-layout toolbar-title="Oficios de solicitud de tarjeta">
  <div class="row">
    <a mat-stroked-button routerLink="/crear-oficio">
      <mat-icon>add</mat-icon>
      <span>Nuevo oficio</span>
    </a>

    <div class="select-group">
      <div class="select-content month">
        <mat-form-field appearance="outline">
          <mat-select [(value)]="selectedMonth" ariaLabel="mes">
            <mat-option
              *ngFor="let month of monthsOptions"
              [value]="month.value"
            >
              {{ month.viewValue | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="select-content year">
        <mat-form-field appearance="outline">
          <mat-select value="2022" ariaLabel="año" disabled>
            <mat-option value="2022"> 2022 </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <app-document-list-table
    [data]="
      documents$
        | filterDocumentsByMonth : selectedMonth
        | sortDocumentsByDate : 'asc'
    "
  ></app-document-list-table>
</app-primary-layout>
