:host {
  height: auto;
  overflow: auto;
}

table {
  height: 100%;
  background-color: #fafafa;
}

table tr th {
  background-color: #fafafa;
  border: none;
}

table td {
  background-color: #ffffff;
}