<app-secondary-layout
  toolbar-title="Reporte mensual de oficios"
  toolbar-back-link="/admin/reportes"
>
  <div *ngIf="report$ | async as report" class="content">
    <span class="mat-small"
      >Reporte de {{ report.date | date : "MMMM, y" }}</span
    >

    <div class="button-group">
      <a
        mat-flat-button
        color="primary"
        (click)="onClick(monthlyReport, { report })"
        [disabled]="!report.cardsStats"
        #monthlyReport
      >
        <mat-icon>download</mat-icon>
        <span>Reporte mensual</span>
      </a>

      <a
        *ngIf="documents$ | async as documents"
        mat-flat-button
        color="primary"
        (click)="onClick(documentsReport, { report, documents })"
        [disabled]="!report.cardsStats"
        #documentsReport
      >
        <mat-icon>download</mat-icon>
        <span>Reporte de oficios</span>
      </a>
    </div>

    <app-report-detail-content *ngIf="report.cardsStats" [data]="report"></app-report-detail-content>
  </div>
</app-secondary-layout>
