<mat-toolbar>
  <a
    mat-icon-button
    aria-label="Navega a una página superior"
    [routerLink]="toolbarBackLink"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>

  <span *ngIf="toolbarTitle">{{ toolbarTitle }}</span>

  <!-- ng-container *ngIf="cardCode">
    <span class="spacer"></span>

    <ng-container *ngIf="toolbarIconButton && toolbarMenu">
      <button
        mat-icon-button
        aria-label="Abre menu con opciones de oficio"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>{{ toolbarIconButton }}</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['/admin/oficios', cardCode, 'editar']">
          <mat-icon>edit</mat-icon>
          <span>Editar oficio</span>
        </a>

        <button mat-menu-item (click)="deleteDocumentAction(cardCode)">
          <mat-icon>delete</mat-icon>
          <span>Eliminar oficio</span>
        </button>

        <button mat-menu-item (click)="cancelCardAction(cardCode)">
          <mat-icon>cancel</mat-icon>
          <span>Cancelar tarjeta</span>
        </button>
      </mat-menu>
    </ng-container>
  </ng-container -->
</mat-toolbar>

<div class="content">
  <ng-content></ng-content>
</div>
