<mat-toolbar>
  <a mat-icon-button aria-label="Navega a lista de oficios" routerLink="/home/oficios">
    <mat-icon>arrow_back</mat-icon>
  </a>

  <span *ngIf="toolbarTitle">{{ toolbarTitle }}</span>

  <ng-container *ngIf="data?.cardCode$ | async as cardCode">
    <span>{{ "Oficio " + cardCode }}</span>

    <span class="spacer"></span>

    <ng-container *ngIf="toolbarIconButton && toolbarMenu">
      <button mat-icon-button aria-label="Abre menu con opciones de oficio" [matMenuTriggerFor]="menu">
        <mat-icon>{{ toolbarIconButton }}</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['/admin/oficios', cardCode, 'editar']">
          <mat-icon>edit</mat-icon>
          <span>Editar oficio</span>
        </a>

        <button mat-menu-item (click)="deleteDocumentAction(cardCode)">
          <mat-icon>delete</mat-icon>
          <span>Eliminar oficio</span>
        </button>
      </mat-menu>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="toolbarButton">
    <button mat-flat-button>
      <mat-icon *ngIf="toolbarButton.icon">{{ toolbarButton.icon }}</mat-icon>
      <span>{{ toolbarButton.text }}</span>
    </button>
  </ng-container>
</mat-toolbar>

<div class="content">
  <ng-content></ng-content>
</div>
