<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Correo electrónico</mat-label>
    <input matInput placeholder="" formControlName="email" />

    <mat-error *ngIf="emailCtrl.errors?.['required']"
      >Debes ingresar un correo.</mat-error
    >

    <mat-error *ngIf="emailCtrl.errors?.['email']"
      >Debes ingresar un correo válido.</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Contraseña</mat-label>
    <input
      type="password"
      matInput
      placeholder="••••••••"
      formControlName="password"
    />

    <mat-error *ngIf="passwordCtrl.errors?.['required']"
      >Debes ingresar una contraseña.</mat-error
    >
  </mat-form-field>

  <div>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      <span>Iniciar sesión</span>
    </button>
  </div>
</form>
