$dia-primary-palette: (
  50: #f1eaec,
  100: #dcc9ce,
  200: #c4a6ae,
  300: #ac828e,
  400: #9b6775,
  500: #894c5d,
  600: #814555,
  700: #763c4b,
  800: #6c3341,
  900: #592430,
  A100: #ff9db2,
  A200: #ff6a8a,
  A400: #ff3762,
  A700: #ff1e4e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$dia-secondary-palette: (
  50: #eeebec,
  100: #d4cdcf,
  200: #b7acaf,
  300: #9a8b8e,
  400: #847276,
  500: #6e595e,
  600: #665156,
  700: #5b484c,
  800: #513e42,
  900: #3f2e31,
  A100: #ff8fa4,
  A200: #ff5c7a,
  A400: #ff2951,
  A700: #ff0f3c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$dia-terciary-palette: (
  50: #eeebe8,
  100: #d5cdc6,
  200: #b9aca1,
  300: #9d8b7b,
  400: #88725e,
  500: #735942,
  600: #6b513c,
  700: #604833,
  800: #563e2b,
  900: #432e1d,
  A100: #ffb886,
  A200: #ff9a53,
  A400: #ff7c20,
  A700: #ff6d07,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dia-error-palette: (
    50 : #f7e4e4,
    100 : #eababa,
    200 : #dd8d8d,
    300 : #cf5f5f,
    400 : #c43c3c,
    500 : #ba1a1a,
    600 : #b31717,
    700 : #ab1313,
    800 : #a30f0f,
    900 : #940808,
    A100 : #ffc1c1,
    A200 : #ff8e8e,
    A400 : #ff5b5b,
    A700 : #ff4141,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$dia-success-palette: (
    50 : #edf7ed,
    100 : #d1ebd2,
    200 : #b3ddb5,
    300 : #94cf97,
    400 : #7dc580,
    500 : #66bb6a,
    600 : #5eb562,
    700 : #53ac57,
    800 : #49a44d,
    900 : #38963c,
    A100 : #e3ffe4,
    A200 : #b0ffb3,
    A400 : #7dff82,
    A700 : #63ff6a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dia-warning-palette: (
    50 : #fff9e5,
    100 : #ffefbf,
    200 : #ffe594,
    300 : #ffda69,
    400 : #ffd248,
    500 : #ffca28,
    600 : #ffc524,
    700 : #ffbd1e,
    800 : #ffb718,
    900 : #ffab0f,
    A100 : #ffffff,
    A200 : #fffcf7,
    A400 : #ffe9c4,
    A700 : #ffdfab,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dia-info-palette: (
    50 : #e5f8fb,
    100 : #beeef4,
    200 : #93e3ed,
    300 : #67d7e5,
    400 : #47cfe0,
    500 : #26c6da,
    600 : #22c0d6,
    700 : #1cb9d0,
    800 : #17b1cb,
    900 : #0da4c2,
    A100 : #effcff,
    A200 : #bcf3ff,
    A400 : #89e9ff,
    A700 : #6fe5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);