@use "@angular/material" as mat;
@use "dia-color-palettes";

@include mat.core();

$dia-primary: mat.define-palette(dia-color-palettes.$dia-primary-palette);
$dia-accent: mat.define-palette(
  dia-color-palettes.$dia-terciary-palette,
  A200,
  A100,
  A400
);
$dia-error: mat.define-palette(dia-color-palettes.$dia-error-palette);
$dia-success: mat.define-palette(dia-color-palettes.$dia-success-palette);
$dia-warning: mat.define-palette(dia-color-palettes.$dia-warning-palette);
$dia-info: mat.define-palette(dia-color-palettes.$dia-info-palette);

$dia-theme: mat.define-light-theme(
  (
    color: (
      primary: $dia-primary,
      accent: $dia-accent,
      error: $dia-error,
      success: $dia-success,
      warning: $dia-warning,
      info: $dia-info,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.core-theme($dia-theme);
@include mat.sidenav-theme($dia-theme);
@include mat.list-theme($dia-theme);
@include mat.divider-theme($dia-theme);
@include mat.toolbar-theme($dia-theme);
@include mat.icon-button-theme($dia-theme);
@include mat.button-theme($dia-theme);
@include mat.icon-theme($dia-theme);
@include mat.menu-theme($dia-theme);
@include mat.form-field-theme($dia-theme);
@include mat.select-theme($dia-theme);
@include mat.table-theme($dia-theme);
@include mat.input-theme($dia-theme);
@include mat.datepicker-theme($dia-theme);
@include mat.typography-hierarchy($dia-theme);
